{% extends "video/base.html" %}
{% load static %}

{% block title %}{{ video.title }}{% endblock title %}

{% block header %}
<style>
    nav { margin-bottom: 20px; }
    video {
        height: 300px;
        width: 500px;
        object-fit: cover;
    }
    h3 {
        padding: 0; 
        margin: 0;
    }
</style>
{% endblock header %}

{% block content %}
<nav>
    <a href="/catalog"><button><- Go to catalog</button></a>
</nav>
<video src="{{ video.videofile.file.url }}" controls></video>
<h3>{{ video.title }}</h3>
{% endblock content %}