<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
</head>
<body class="container">
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label for="name">Название</label><br>
            <input type="text" name="name" id="name">
        </p>
        <input type="submit" value="Сохранить" >
    </form>

    <h2>Каталог видео</h2>
    <div class="catalog">
        {% if videos.count > 0 %}
            {% for v in videos %}
                <div class="video">
                    <img src="{{ v.snapshot_uri }}" height="100px">
                    <h5>#{{ v.id }} - {{ v.name }}</h5>
                </div>
            {% endfor %}
        {% else %}
            <h4>Пусто</h4>
        {% endif %}
    </div>
</body>
</html>